*{
    margin:0px;
    padding:0px;
    text-decoration:none;
   
}


#header{
    background-image: url("Img/bg-desktop.svg");
    background-image: linear-gradient(to right,#0308f7, #01eeff);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    opacity:1;
    margin:0px;
    width:100%;
   
}

.navbar-toggler{
    color:black;
    font-size:40px;
}

.head-image img{
    width:100%;

    
}

.navbar{
    padding-top:0px !important;
    padding-bottom:0px !important;
    
}
.navbar-toggler{
    color:black;
}



.content-image img{
    width:100%;
    height:100%;
}
